body{
  background-color: rgba(48, 95, 95, 0.6);
}

.divbody{
  background-color: rgb(48, 95, 95, 0.8);
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  border-style:outset;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    text-align: right;
    margin-right: 10px;
  }

input{
    width: 30%;
    height: 25px;
    border: 2px solid rgb(66, 66, 66);
    background-color: rgba(222, 242, 245, 0.747);
    border-color: rgb(2, 59, 59);
    border-radius: 4px;
    margin-right: 10%;
  }

  .btn {
    background-color: rgba(222, 242, 245, 0.747); 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .btn:hover {
    background-color: #008CBA;
    color: white;
  }

button{
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  }

.bodycolor{
    display: none;
  }

.divshowcal{
  display: none;
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    font-weight: bolder;
    color: rgb(172, 4, 40);
  }

  .div_cal{
    margin-bottom: 4px;
    text-align: right;
  }

  .divbtn{
    margin-top: 20px;
  }

  h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
  }