body{
  background-color: rgb(105, 157, 192);
}

.divbody{
  background-color: rgb(43, 106, 107);
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  border-style:outset;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    text-align: right;
    margin-right: 10px;
  }

input{
    width: 30%;
    height: 25px;
    border: 2px solid rgb(66, 66, 66);
    background-color: rgba(222, 242, 245, 0.747);
    border-color: rgb(2, 59, 59);
    border-radius: 4px;
    margin-right: 100px;
  }

button{
    width: 50%;
    height: 35px;
    font-weight: bold;
    background-color: rgb(38, 74, 90);
    border-color:rgb(2, 59, 59);
    border-radius: 4px;
    margin: 10px;
  }

.bodycolor{
    display: none;
  }

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .div_cal{
    margin-bottom: 4px;
    text-align: right;
  }

  .divbtn{
    margin-top: 20px;
  }

  h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
  }